<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.Mr_applyMapper" >
  <resultMap id="BaseResultMap" type="Pojo.Mr_apply" >
   <result column="user_name" property="user_name" jdbcType="VARCHAR" />
   <result column="mr_id" property="mr_id" jdbcType="VARCHAR" />
   <result column="apply_res" property="apply_res" jdbcType="VARCHAR" />
   <result column="start_time" property="start_time" jdbcType="VARCHAR" />
   <result column="end_time" property="end_time" jdbcType="VARCHAR" />
   <result column="mr_name" property="mr_name" jdbcType="VARCHAR" />
   <result column="ref_res" property="ref_res" jdbcType="VARCHAR" />
   <result column="mr_state" property="mr_state" jdbcType="INTEGER" />
  </resultMap>
 
 <select id="selectAll" resultMap="BaseResultMap">
  	 select *
   		 from mr_apply	
 	</select>
 	
 	<select id="selectAllhasborrow" resultMap="BaseResultMap">
		select * from mr_apply where mr_state=1
	</select>
 	
 	<select id="selectAllneedplay" resultMap="BaseResultMap">
		select * from mr_apply where mr_state=-1
	</select>
	
	<select id="selectdisagree" resultMap="BaseResultMap">
		select * from mr_apply where mr_state=0
	</select>
	
	<update id="checkagree" >
		update mr_apply set mr_state = 1 where user_name=#{user_name} and mr_id=#{mr_id} and start_time =#{start_time}
	
	</update>
	
	<update id="checkdisagree" >
		update mr_apply set mr_state = 0 where user_name=#{user_name} and mr_id=#{mr_id} and start_time =#{start_time}
	
	</update>
	
	
	
    <delete id="deleteapply" parameterType="String">
    	delete from mr_apply where user_name=#{user_name} and mr_id=#{mr_id} and start_time =#{start_time}
    
    </delete>
    
    <delete id="deledisagree" parameterType="String">
    	delete from mr_apply where user_name=#{user_name} and mr_id=#{mr_id} and start_time =#{start_time}
    
    </delete>
	
	

  </mapper>