<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.WrongMapper" >
<resultMap id="BaseResultMap" type="Pojo.Wrong" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_id" property="house_id" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
 	</resultMap>
  	<select id="findwronglist" resultMap="BaseResultMap" >
		select * from wrong where status='待处理'
	</select>
	
	<select id="findwrongsolvelist" resultMap="BaseResultMap" >
		select * from wrong where status='已处理'
	</select>
	
	<update id="updatewrong" parameterType="Integer" >
		update wrong set status='已处理' where id=#{id}
	</update>
	<insert id="insertwrong" parameterType="Pojo.Wrong" >
		 insert into wrong(house_id,address,date,detail,status) 
	  values(#{house_id},#{address},#{date},#{detail},'待处理')
	</insert>
	<delete id="deletewrong" parameterType="Integer" >
		delete from wrong  where id=#{id}
	</delete>
</mapper>